[toolchain]
anchor_version = "0.31.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
elowen = "3R63fNvrbn2mb2Em28i4UTPEJN83EAVQDmFuNzrkXVKw"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
create-alt = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/create-alt.spec.ts"
initialize-elw = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/initialize-elw.spec.ts"
platform-burn = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/platform/burn.spec.ts"
platform-vaults = "ts-node tests/platform/vaults.ts"
platform-withdraw = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/platform/withdraw.spec.ts"